
body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}
.wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgba(255, 255, 255, 0.082);
    min-height: 100vh;
    /* overflow: hidden; */
}
.left{
    background-color: rgba(255, 255, 255, 0.021);
    border-width: 0 2px 0 0;
    border-style: solid;
 
}

 .profile{
    z-index: 11;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border-width: 2px;
    border-style: solid;
    border-color: cyan;
    box-shadow: 0px 0px 50px 1px rgba(255, 255, 255, 0.212);
    margin-bottom: 5vh;
    margin-top: 5vh;
    
}
.podstawoweDane{
    min-height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5vh;
    color: rgb(126, 251, 255);
}
.podstawoweDane h1{
  margin: 0;
  font-size: 2rem;
}
.podstawoweDane h1::before,.podstawoweDane h2::before,.podstawoweDane h3::before {
  position: absolute;
  content: "\00a0\00a0\00a0\00a0\00a0";
  border-width: 0 0 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
 
}
.podstawoweDane h2{
  margin: 0;
  font-size: 1.8rem;
}
.podstawoweDane h3{
  margin: 0;
  font-size: 1.6rem;
}

.zainteresowania {
    z-index: 12;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hobby{
    
    margin-top: 3vw;
    font-size: 1.7rem;
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    animation-name: Baner;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
    
}
.zainteresowania li{
    list-style-type: "\261D";
}
.zainteresowania li:hover{
    transition: 2s;
    list-style-type: "\270C";
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    

}
@keyframes Baner {
    from {
        text-shadow: 0px 0px 20px #ffffff;
    }
  
    to {
        text-shadow: 0px 0px 20px #0f0f0f;
    }
  }
  .ulubione{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ulubione>.filmy>table {
  
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(26, 97, 160); */
    border-spacing: 10px;
  }
  .ulubione>.filmy>table .main * {
    font-size: 1.1rem;}
    .ulubione>.filmy>table>thead tr * {
        font-weight: 300;
        font-size: 1.7rem;
        animation-name: Baner;
        animation-iteration-count: infinite;
        animation-duration: 3s;
        animation-direction: alternate;
    }
  .ulubione>.filmy>table th{
    padding: 5px;
    color: #ffffff;
    font-size: 0.8rem;
    text-align: center;
    border-width: 0 0 1px 0;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
  }
  
  /* ksiazki */
  .ulubione{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ulubione>.ksiazki>table {
  
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(26, 97, 160); */
    border-spacing: 10px;
  }
  
  .ulubione>.ksiazki>table .main * {
    font-size: 1.1rem;}
    .ulubione>.ksiazki>table>thead tr * {
        font-weight: 300;
        font-size: 1.7rem;
        animation-name: Baner;
        animation-iteration-count: infinite;
        animation-duration: 3s;
        animation-direction: alternate;
    }
  .ulubione>.ksiazki>table th{
    padding: 5px;
    color: #ffffff;
    font-size: 0.8rem;
    text-align: center;
    border-width: 0 0 1px 0;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
  }
  .orzel{
    z-index: 10;
    position: absolute;
    top:10vw;
    left: -10vw;
width: 200px;
animation-name: orzelleci;
animation-iteration-count: infinite;
animation-duration: 15s;
animation-direction: normal;
overflow: hidden;

  }
  @keyframes orzelleci {
    from {        
        top:10vw;
        left: -10vw;
    }
    10%{
        top:10vw;
        left: 130vw;
    }

    20%{
        top: 90vh;
        left: 120vw;
    }
     30%{
        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
        top: 90vh;
        left: -20vw;
     }
  
    to {
       
    }
  }
.edukacja{
  font-size: 1.4rem;
  writing-mode: vertical-lr;
}
.studia {
  display: flex;
  justify-content: center;
}
.studia::after{
  content: "Edukacja";
  writing-mode: vertical-lr;
  margin-left: 2vw;
  font-size: 1.2rem;
}
.studia::before{
  content: "Edukacja";
  writing-mode: vertical-lr;
  margin-left: 2vw;
  font-size: 1.2rem;
  transform: rotate(180deg);
}
.powodWybraniaInformatyki{
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
  font-size: 1.5rem;
}
.powodWybraniaInformatyki::before{
  font-size: 1.2rem;
  padding-right: 5vh;
  content: "Dlaczego informatyka na UPH?";
  color: rgba(255, 255, 255, 0.5);

}
.plany{
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
  font-size: 1.5rem;

}
.plany::before{
  font-size: 1.2rem;
  padding-right: 5vh;
  content: "Jakie dalsze plany?";
  color: rgba(255, 255, 255, 0.5);
}
.wazneLinki{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.wazneLinki a{
  margin: 1vh;
  padding: 0.5vh;
  text-align: center;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  min-height: 4vh;
  color: black;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.925);
  border-width: 1px;
  border-color: white;
  border-style: solid;
}
.wazneLinki a:hover{
  transition: 1s;
background-color: black;
color: white;
}
.galeria{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.centerGaleria{
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  font-size: 2rem;
}
.galeria img{
  object-fit: cover;
  padding: 30px;
  padding-bottom: 10px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.galeria>.photos{
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 360px;
  text-overflow: clip;
  /* background-color: #00ff00; */
  margin: 10px;
  
  
  
}
