body{
    display: flex;
    flex-direction: column;
}
.outputtable{
    min-width: 80vw;
    background-color: rgb(6, 47, 83);
}
#form{
    min-width: 80vw;
    display: flex;
    flex-direction: row;
}
#tabla>td{
    /* display: flex; */
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
}
.center{
    text-align:center;
}
#plec{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Przyjaciele{
    background-color: pink;
}
.Rodzina{
    background-color: green;
}
.Praca{
    background-color: gray;
}
.Znajomi{
    background-color: red;
}
#przycisk{
    background-color: rgb(10, 9, 9);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    color: rgb(13, 114, 209);
    font-size: 1.3rem;
    font-weight: 600;
    box-shadow: 6px 6px 0px 0px rgb(37, 33, 33);
}
#przycisk:hover{
    transition: 0.5s;
 background-color: rgb(37, 33, 33);
}
#przycisk:active{
    transition: 0.5s;
    transform: translate(6px,6px);
    transform: scale(90%);
}
.pieselanimation{
    width: 10vw;
    object-fit: contain;
    /* width: 10vw; */
    left: -15vw;
    top: 6vw;
    position: absolute;
    /* transform: rotate(-90deg) */
}

.piesel{
    rotate: 90deg;
    height: 10vw;
    object-fit: contain;
    /* width: 10vw; */
    left: -8vw;
    top: 10vw;
    position: absolute;
}
#dog{
    display: flex;
    position: relative;   /* transform: rotate(-90deg)  */
}
#planeta{
    position: absolute;
    left: -20vw;
    top: 5vw;
    width: 20vw;
}