body{
    display: flex;
    flex-direction: column;
}
.outputtable{
    min-width: 80vw;
    background-color: rgb(6, 47, 83);
}
#form{
    min-width: 80vw;
    display: flex;
    flex-direction: row;
}
#tabla>td{
    /* display: flex; */
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
}
.center{
    text-align:center;
}
#plec{
    display: flex;
    flex-direction: column;
    align-items: center;
}