<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./../src/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./../style/navbar.css">
    <link rel="stylesheet" href="./../style/style.css">
    <link rel="stylesheet" href="./../style/styleCast.css">
    <title>Dawid Borkowski</title>
</head>
<body>
    
   <header>
    Obsada
   </header>
        <div class="content">    
    
    <nav> 
        <a href="./../index.html">Strona główna</a>
        <a href="./cast.html">Obsada</a>
        <a href="./gallery.html">Galeria</a>
        <a href="./teasers.html">Zwiastuny</a>
        <a href="./reviews.html">Recenzje</a>
        <a href="./recommendations.html">Rekomendacje</a>
    </nav>
    <article>
       <table>
<tr>
    <th>Imie</th>
    <th>Zdjęcie</th>
    <th>Głos</th>
</tr>
<tr>
    <th>Bogdan Boner</th>
    <th><img src="../src/BogdanBoner.png" alt="" srcset=""></th>
    <th>Bartosz Walaszek</th>
</tr>
<tr>
    <th>Marcin Łopian</th>
    <th><img src="../src/Marcinek.jpg" alt="" srcset=""></th>
    <th>Bartosz Walaszek</th>
</tr>
<tr>
    <th>Domino</th>
    <th><img src="../src/Domino.jpg" alt="" srcset=""></th>
    <th>Bartosz Walaszek</th>
</tr>
<tr>
    <th>Ksiądz Natan</th>
    <th><img src="../src/Natan.png" alt="" srcset=""></th>
    <th>Bartosz Walaszek</th>
</tr>
       </table>
    </article>
</div>
</body>
</html>