<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./../src/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./../style/navbar.css">
    <link rel="stylesheet" href="./../style/style.css">
    <link rel="stylesheet" href="./../style/styleRecommendations.css">
    <title>Dawid Borkowski</title>
</head>
<body>   <header>
    Rekomendacje
   </header>
        <div class="content">    
    
    <nav> 
        <a href="./../index.html">Strona główna</a>
        <a href="./cast.html">Obsada</a>
        <a href="./gallery.html">Galeria</a>
        <a href="./teasers.html">Zwiastuny</a>
        <a href="./reviews.html">Recenzje</a>
        <a href="./recommendations.html">Rekomendacje</a>
    </nav>
    <article>
        <table>
            <tr>
                <td> <h1>Mr.Robot</h1></td>
                <td>Młody programista komputerowy pracujący nad bezpieczeństwem sieciowym wielkich korporacji zostaje zwerbowany przez grupę hakerów.  </td>
                <td> <a href="https://www.imdb.com/title/tt4158110/mediaviewer/rm2302696192/?ref_=tt_ov_i"><img src="/zad3/src/mrrobot1.jpg"  alt="" srcset=""></a></td>
            </tr>
            <tr>
                <td><h1>Brickleberry</h1></td>
                <td>Brickleberry to jeden z amerykańskich Parków Narodowych. Pieczę nad nim sprawuje grupa niekompetentnych strażników pod przywództwem Woody'ego Johnsona.</td>
                <td><a href="https://www.filmweb.pl/serial/Brickleberry-2012-662876"><img src="/zad3/src/brickleberry.jpg" alt="" srcset=""></a></td>
            </tr>
            <tr>
                <td><h1>Zagubieni</h1></td>
                <td>Kiedy samolot lecący do Los Angeles rozbija się na bezludnej wyspie, grupa ocalałych próbuje przetrwać.</td>
                <td>
                    <a href="https://www.filmweb.pl/serial/Zagubieni-2004-133834"><img src="/zad3/src/zagubieni.jpg"  alt="" srcset=""></a></td>
            </tr>
            
         </table>       
    </article>
</div>

</body>
</html>