<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./../src/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./../style/navbar.css">
    <link rel="stylesheet" href="./../style/style.css">
    <link rel="stylesheet" href="./../style/styleReviews.css">
    <title>Dawid Borkowski</title>
</head>
<body>   <header>
    Recenzje
   </header>
        <div class="content">    
    
    <nav> 
        <a href="./../index.html">Strona główna</a>
        <a href="./cast.html">Obsada</a>
        <a href="./gallery.html">Galeria</a>
        <a href="./teasers.html">Zwiastuny</a>
        <a href="./reviews.html">Recenzje</a>
        <a href="./recommendations.html">Rekomendacje</a>
    </nav>
    <article>
       
     <table>
        <tr>
            <td>Spiders Web</td>
            <td>„Bogdan Boner: Egzorcysta” jest tak samo zły, jak inne animacje Walaszka. A to znaczy, że fanom artysty się spodoba
                Fenomen animacji Bartosza Walaszka opiera się na bylejakości i wulgarności. Pod tym względem „Bogdan Boner: Egzorcysta” niczym się nie różni od poprzednich produkcji artysty. W tym tkwi więc jego największa siła, a także największa słabość.</td>
                <td>Ocena 3/10</td>
            </tr>
        <tr>
            <td>Pc World</td>
            <td>Bogdan Boner - bohater, na którego nie zasługujemy
                Mówi się, że jedną z największych wartości scenariusza filmowego czy serialowego jest widoczna przemiana bohatera. No cóż. Walaszek za wszelką cenę łamie ten schemat i robi to świetnie. Bogdan Boner nie zmienił się ani trochę od pierwszego odcinka Egzorcysty. Nadal najlepszym lekarstwem na wszelkie dolegliwości jest butelka czystej, a właściwie Ojczystej, wypłaty na czas (a właściwie to wypłaty w ogóle) są dla niego niczym niepotrzebny dodatek do prowadzenia biznesu, a swój słynny brak celności tłumaczy tym, że przecież zapisał się na kurs strzelecki. Fakt, pierwsze zajęcia ma za jakiś czas, ale to już coś.</td>
            <td> Ocena 7/10</td>
        </tr>
        <tr>
            <td>MoviesRoom</td>
            <td>Boner, Marcinek i Domino powrócili! Twórca Blok Ekipy po raz kolejny zaserwował nam nową dawkę absurdu i rubasznego humoru. Całość ma 13 odcinków mających około 12 minut. Jeżeli ktoś chce się zrelaksować i za wiele nie myśleć to Bogdan Boner: Egzorcysta będzie dla niego w sam raz. Jednak nasuwa się pytanie – czy tego wcześniej już nie było? I to kilka razy?</td>
            <td>Ocena 7/10</td>
        </tr>
     </table> 
    </article>
</div>

</body>
</html>