<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./src/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./../style/navbar.css">
    <link rel="stylesheet" href="./../style/style.css">
    <link rel="stylesheet" href="./../style/styleCast.css">
    <title>Dawid Borkowski</title>
</head>
<body>
    <nav style="display: none;">
        <a href="../index.html"><p>Strona główna</p></a>
        <a href="gallery.html"><p>Galeria</p></a>
        <a href="calculator.html"><p>Kalkulator</p></a>
    </nav>


6    <div class="content">
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci sed, vero error esse ex, dolorum laudantium facilis quaerat eius molestiae ea ipsum sint repellendus commodi autem ab numquam at veniam?
    </div>
</body>
</html>6